{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FinServ </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="/static/dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/static/dashboard/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/static/dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/static/dashboard/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/dashboard/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/dashboard/images/favicon.png" />
</head>

<body>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="/static/dashboard/images/logo.png" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="fw-light">Please fill in the form to create an account.</h6>
              <form method="post" id="applyForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container" style="max-width:600px;">
                  <h2 align="center" id='color'>Application Form</h2><br /><br />

                  <div id='color' style="padding-bottom: 20px;">
                    {% csrf_token %}
                    {{ user_form|crispy}}
                    {{ profile_form|crispy }}
                  </div>

                    <button  class='text-center btn btn-light' type="submit">Submit</button><br><br><br><br>
                  
                </div>
              </form>
              <h1>{{errorone}} <br> {{errortwo}}</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/static/dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/static/dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/static/dashboard/js/off-canvas.js"></script>
  <script src="/static/dashboard/js/hoverable-collapse.js"></script>
  <script src="/static/dashboard/js/template.js"></script>
  <script src="/static/dashboard/js/settings.js"></script>
  <script src="/static/dashboard/js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>


